.container {
	width: 500px;
	height: 700px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

.propmt {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 100px;
	box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
	border-radius: 5px;
}

.propmt button {
	width: 70px;
	height: 30px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
	cursor: pointer;
}

.propmt input {
	width: 250px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;	
	padding: 5px;
	font-size: 16px;
}

.todoItem {
	width: 400px;
	height: 50px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 10px 0;
}
.todoItem li {
	list-style: none;
	box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
	font-size: 24px;
}

.todoItem button {
	width: 70px;
	height: 30px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
	cursor: pointer;
}
